body {
    background-color: cornsilk;
}

h1 {
    color: gold;
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 80px;
}

h3 {
    color: goldenrod;
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 30px;
}

p {
    color:burlywood ;
    text-align: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 25px;
}